{% extends "base.html" %}

{% load cms_tags menu_tags placeholder_tags sekizai_tags %}

{% block contentClass %}home{% endblock %}

{% block header-back %}
			<section id="slider" class="clearfix">
				<div class="img i1">
					<div class="container_24">
						<div class="hover">
							<div class="bg"> </div>
							<div class="text">
								Expert en<br/>
								<strong>gestion durable</strong><br/>
								depuis <strong>30 ans !</strong>
							</div>
						</div>
					</div>
				</div>
				<div class="img i2 transparent">
					<div class="container_24">
						<div class="hover">
							<div class="bg"> </div>
							<div class="text">
								Tartines<br/>
								<strong>au beurre</strong><br/>
								et au <strong>cheezwiz !</strong>
							</div>
						</div>
					</div>
				</div>
			</section>
{% addtoblock "js" %}
<script type="text/javascript">
    $(document).ready(function() {
        var s = jQuery("#slider");
        var i = jQuery("div.img", s);
        var m = i.length;
        var p = 1;
        var f = function() {
            var np = (p < m) ? p + 1 : 1;
            $("#slider div.i" + np).removeClass('transparent');
            $("#slider div.i" + p).addClass('transparent');
            p = np
        };
        setInterval(f, 10000)
    }); 
</script>
{% endaddtoblock %}
{% endblock %}

{% block header-content %}

<div id="left-bar">
	<div class="left"> </div>
	<div class="in-container"> </div>
</div>

<div id="header-content">
	<div class="container_24 clearfix">
		<div class="left">
			<h1>Optima<br/>Expert-Conseil</h1>
			<nav id="main-menu">
				<ul>
					{% show_menu 0 0 0 1 "app/menu.html" %}
				</ul>
			</nav>
			<span class="signature"> </span>
		</div>
		<span class="tel">T &nbsp;&nbsp;&nbsp;&nbsp;4 1 8 &nbsp;&nbsp;5 4 3 &nbsp;&nbsp;7 7 7 7</span>
		<div class="intro-text">
			{% placeholder "content-header" %}
		</div>
	</div>
</div>

{% addtoblock "js" %}
<script type="text/javascript">
    $(document).ready(function() {
        var $window = $(window);
        var $left = $('#left-bar div.left');
        function checkWidth() {
            var windowsize = $window.width();
            var left_size = (windowsize - 960) / 2;
            $left.width(left_size);
        }
        checkWidth();
        $(window).resize(checkWidth);
    });
</script>
{% endaddtoblock %}
{% endblock %}

{% block content %}
<section id="services">
	<div class="container_24">
		<div class="wrapper">
			<article class="service closed">
				<header>
					<h1>Service 1</h1>
				</header>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
						Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
						Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
						Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
					</p>
					<a href="#">
						En savoir plus
					</a>
				</div>
			</article>
			<article class="service last closed">
				<header>
					<h1>Service 2</h1>
				</header>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
						Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
						Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
						Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
					</p>
					<a href="#">
						En savoir plus
					</a>
				</div>
			</article>
			<article class="service closed">
				<header>
					<h1>Service 3</h1>
				</header>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
						Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
						Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
						Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
					</p>
					<a href="#">
						En savoir plus
					</a>
				</div>
			</article>
			<article class="service last closed">
				<header>
					<h1>Service 4</h1>
				</header>
				<div class="content">
					<p>
						Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
						Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
						Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
						Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
					</p>
					<a href="#">
						En savoir plus
					</a>
				</div>
			</article>
		</div>
	</div>
</section>

<section id="etudes-de-cas">
	<div class="bg"><div class="right"> </div></div>
	<div class="container_24">
		<div class="wrapper">
			<header class="s-h">
				<h1>Études de cas</h1>
			</header>
			
			<article class="etude clearfix">
				<figure>
					<img src="{{STATIC_URL}}img/samples/etude1.jpg" alt="" title=""/>
				</figure>
				<div class="content">
					<header>
						<h1>Gestion de la bleuètière MRC</h1>
					</header>
					<div class="clearfix">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
							Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
							Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
							Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
						</p>
						<a href="#">En savoir plus</a>
					</div>
				</div>
			</article>
			<article class="etude clearfix">
				<figure>
					<img src="{{STATIC_URL}}img/samples/etude2.jpg" alt="" title=""/>
				</figure>
				<div class="content">
					<header>
						<h1>Gestion de la bleuètière MRC</h1>
					</header>
					<div class="clearfix">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
							Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
							Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
							Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
						</p>
						<a href="#">En savoir plus</a>
					</div>
				</div>
			</article>
			<article class="etude clearfix">
				<figure>
					<img src="{{STATIC_URL}}img/samples/etude3.jpg" alt="" title=""/>
				</figure>
				<div class="content">
					<header>
						<h1>Gestion de la bleuètière MRC</h1>
					</header>
					<div class="clearfix">
						<p>
							Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec eu mi vel orci viverra accumsan. 
							Ut interdum, lacus in bibendum egestas, enim enim bibendum lorem, eu euismod libero nulla cursus orci. 
							Aliquam pharetra dui odio, id aliquam sapien eleifend in. 
							Duis non commodo eros. Morbi sed porttitor ante, quis dapibus tortor.
						</p>
						<a href="#">En savoir plus</a>
					</div>
				</div>
			</article>
		</div>
	</div>
</section>

{% addtoblock "js" %}
<script type="text/javascript">
    $(document).ready(function() {
        $('#services .service h1').click(function(){
        	var $A = $(this).parent().parent();
        	var $B = jQuery(".content", $A);
        	if($A.hasClass('closed'))
        	{
        		$B.slideDown( "fast", function() {
	        		$A.removeClass('closed');
	        		$A.addClass('opened');
	        	});
        	}
        	else
        	{
        		$B.slideUp( "fast", function() {
	        		$A.removeClass('opened');
	        		$A.addClass('closed');
        		});
        	}
        });
    });
</script>
{% endaddtoblock %}
{% endblock %}